body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(hsl(30, 15%, 90%), hsl(30, 15%, 60%));
  color: #222;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main {
  flex: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#tooltip {
  display: flex;
  flex-direction: column;
  /* text-align: left; */
  padding: 8px;
  color: #fefefe;
  box-shadow: 3px 3px 10px -5px #000; 
  border-radius: 10px;
  font-size: .8em;
  justify-content: start;
  max-width: 110px;
}

#tooltip span {
  padding: 2px;
}

div#svg-container {
  user-select: none;
}

svg {
  border-radius: 8px;
  background: #fefefe;
  box-shadow: 10px 10px 20px -10px #000;
}

.leaf > foreignObject > div {
  font-size: .7em;
  text-align: left;
  /* outline: 1px solid red; */
  overflow: hidden;
  height: 100%;
}