body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(hsl(30, 15%, 90%), hsl(30, 15%, 60%));
  color: #222;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main {
  flex: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

div#svg-container {
  user-select: none;
}

svg {
  border-radius: 8px;
  background: #fefefe;
  box-shadow: 10px 10px 20px -10px #000;
}
